{% extends 'base.html' %}

{% block content %}


<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <hr class="divider divider-light" />
                <h2 class="text-white mt-0">Votre Panier</h2>
                <hr class="divider divider-light" />
                <a class="btn btn-light btn-xl" href="{% url 'store:create-checkout-session' %}">Proceder au paiement</a>
                <p class="text-white-75 mb-4">"Sélectionnez le nombre de vos produits ou supprimez-les, puis procédez au paiement".</p>
                <a class="btn btn-light btn-xl" href="{% url 'store:delete-cart' %}">Supprimer le panier</a>
                <form method="POST" action="{% url 'store:update-quantities' %}">
    {% csrf_token %}
    {{ forms.management_form }}
    {% for form in forms %}
    <div>
        <hr class="divider divider-light" />
        <h2 class="text-white mt-0">{{ form.instance.product.name }}</h2>
        <hr class="divider divider-light" />
        <img src="{{ form.instance.product.thumbnail_url }}" alt="Image du produit" style="max-width: 250px;">
        <p class="text-white-75 mb-4">{{ form.instance.product.description }}</p>
        {{ form.as_p }}
    </div>
    {% endfor %}
    <button class="btn btn-light btn-xl"type="submit">Mettre à jour les quantités</button>
</form>
                {% csrf_token %}


</form>



            </div>
        </div>
    </div>
</section>





{% endblock %}
