{% extends 'base.html' %}

{% block content %}


<!-- About-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">{{ product.name }}</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">{{ product.description }}</p>
                {% if user.is_authenticated %}
                <a class="btn btn-light btn-xl" href="{% url 'store:add-to-cart' product.slug %}">Ajouter dans le panier</a>
                {% endif %}
                <hr class="divider divider-light" />
                <h2 class="text-white mt-0">€{{ product.price }}</h2>
                <hr class="divider divider-light" />


<img src="{{ product.thumbnail_url }}" alt="{{ product.name }}" style="max-width: 250px;">

<p>{{ product.stock }} en stock</p>

{% if user.is_authenticated %}
<p>
  <a href="{% url 'store:add-to-cart' product.slug %}">
    Ajouter dans le panier
  </a>
</p>
{% endif %}
            </div>
        </div>
    </div>
</section>




{% endblock %}