{% extends 'base.html' %}

{% block content %}

<!-- Masthead3-->
<header class="masthead3">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">


                <h1 class="text-white font-weight-bold">Création de votre compte</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Pas encore inscrit ? créer votre compte avec votre adresse mail et votre mot de passe et consultez nos offres.</p>

    <form method="POST">
        {% csrf_token %}
        <p>
            <label for="username">Adresse mail</label>
            <input id="username" type="text" name="username">
        </p>
        <p>
            <label for="password">Mot de passe</label>
            <input id="password" type= "password" name="password">
        </p>
        <button type="submit">S'inscrire</button>
    </form>
            </div>
        </div>
    </div>
</header>



{% endblock %}
